version: '3'

services:
  sync-app:
    build: .
    container_name: sync-app
    environment:
      - STAYHOME_API_URL=http://api.localhost:8000
      - STAYHOME_API_TOKEN=dddfb27febfae38ac4c7c873a2871f1a8c9ede45
    expose:
      - 8080
    restart: always
